<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width]="progressBar">{{progressBar}}</div>
</div>
<div class="feedback-container">
  
  <div class="welcome-screen" *ngIf="activeScreen == 0">
    <div class="welcome-title" style="font-size: 35px;">Welcome to the feedback kiosk!</div>
    <div class="welcome-button"><button class="button-css" (click)="nextPage()">Proceed</button></div>
  </div>

  <div class="question" *ngIf="activeScreen == 1">
    <div class="welcome-title">1. How are you satisfied with our products?</div>
    <div class="ratings-container">
      <span class="rating ques_1" *ngFor="let index of counter(5); let i = index" (click)="selectRating(1, i+1)">{{i+1}}</span>
    </div>
    <div class="question-button">
      <button class="button-css" (click)="prevPage()" style="margin-right: 10px;">Prev</button>
      <button class="button-css" (click)="nextPage()">Next</button>
    </div>
  </div>

  <div class="question" *ngIf="activeScreen == 2">
    <div class="welcome-title">2. How far the prices compared to similar retailers?</div>
    <div class="ratings-container">
      <span class="rating ques_2" *ngFor="let index of counter(5); let i = index" (click)="selectRating(2, i+1)">{{i+1}}</span>
    </div>
    <div class="question-button">
      <button class="button-css" (click)="prevPage()" style="margin-right: 10px;">Prev</button>
      <button class="button-css" (click)="nextPage()">Next</button>
    </div>
  </div>

  <div class="question" *ngIf="activeScreen == 3">
    <div class="welcome-title">3. How satisfied are you with the value for money of your purchase?</div>
    <div class="ratings-container">
      <span class="rating ques_3" *ngFor="let index of counter(5); let i = index" (click)="selectRating(3, i+1)">{{i+1}}</span>
    </div>
    <div class="question-button">
      <button class="button-css" (click)="prevPage()" style="margin-right: 10px;">Prev</button>
      <button class="button-css" (click)="nextPage()">Next</button>
    </div>
  </div>

  <div class="question" *ngIf="activeScreen == 4">
    <div class="welcome-title">4. On the scale of 1 to 10, how would you recommend us to your friend and family?</div>
    <div class="ratings-container">
      <span class="rating ques_4" *ngFor="let index of counter(10); let i = index" (click)="selectRating(4, i+1)">{{i+1}}</span>
    </div>
    <div class="question-button">
      <button class="button-css" (click)="prevPage()" style="margin-right: 10px;">Prev</button>
      <button class="button-css" (click)="nextPage()">Next</button>
    </div>
  </div>

  <div class="question" *ngIf="activeScreen == 5">
    <div class="welcome-title">5. What could we do to improve our service?</div>
    <div class="ratings-container">
      <!-- <span class="rating ques_5" *ngFor="let index of counter(5); let i = index" (click)="selectRating(5, i+1)">{{i+1}}</span> -->
      <textarea name="text_answer" [(ngModel)]="text_answer" id="text_answer" cols="50" rows="8" placeholder="Please enter your input here..." style="border: none;border-radius: 6px;outline: none;"></textarea>
    </div>
    <div class="question-button">
      <button class="button-css" (click)="prevPage()" style="margin-right: 10px;">Prev</button>
      <button class="button-css" (click)="submit()">Submit</button>
    </div>
  </div>
  
  <div class="welcome-screen" *ngIf="activeScreen == 6">
    <div class="welcome-title">Thank you for valuable feedback!</div>
  </div>
</div>